
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo {
    margin-top: 8px;
}

#transport {
    padding-left: 10px;
    padding-right: 10px;
}

#transport > a {
    color: #000;
}

.step {
    height: 20px;
    width: 20px;
    font-size: 8px;
    padding: 1px;
    text-align: center;
}