.logo {
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
    color: #E7FAD9!important;
    font-weight: bold;
    margin-top: 10px;
}

#transport {
    padding-left: 10px;
    padding-right: 10px;
}

#transport > a {
    color: #000;
}

.border-right {
    border-right: solid 1px #fff !important;
}

.border-left {
    border-left: solid 1px #fff !important;
}

.parameter {
    border: solid 1px #ececec;
    height: 20px;
    font-size: 11px;
    padding: 2px;
    width: 100%;
}
