.logo {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    color: #E7FAD9!important;
    font-weight: bold;
}

#transport {
    padding-left: 10px;
    padding-right: 10px;
}

#transport > a {
    color: #000;
}

.step {
    height: 24px;
    width: 24px;
    font-size: 9px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.border-right {
    border-right: solid 1px #fff !important;
}

.border-left {
    border-left: solid 1px #fff !important;
}